*{margin: 0; padding: 0;}
.hs-btn-bg {
    height: 60px;
    width: 100%;
    background-color: #192734;
}
.hs-btn {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    height: 40px;
    width: 10%;
}
.hs-btn:hover {
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 200px #ff96ad;
}
#login-page{
    width: 450px;
    height: 450px;
    background-color:rgb(44, 40, 40);
    margin: auto;
    margin-top: 60px;
    position: relative;
    border-radius: 50%;
}
.login-bg{
    width: 350px;
    height: 400px;
    background-color: rgb(191, 224, 235);
    border-radius: 50%;
    position: absolute;
    right: 50px;
    bottom: 3px;
}
form{
    width: 205px;
    height: 24.2vh;
    position: absolute;
    top: 235px;
    left: 75px;
}
.ear{
    height: 160px; 
    width: 130px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    z-index: -1;
}
.ear1{
    height: 160px; 
    width: 130px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    z-index: -1;
}
input{
    width: 200px;
    height: 25px;
    margin-top: 2px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(216, 213, 213);  
}
.login-btn{
    width: 180px;
    height: 25px;
    text-align: center;
    margin-top: 3px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #2f2bf5;
}
.login-btn:hover {
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 200px #ff96ad;
}
.signup-btn{
    width: 180px;
    height: 25px;
    text-align: center;
    margin-top: 3px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #ece9e9;
}
.lock{
    height: 210px;
    width: 150px;
    position: absolute;
    left: 154px;
    top: 70px;
}
